 html, body {overflow-x: hidden;}
 
 header {
    position: fixed;
 }

 header h1{
    background-color: #373867;
    color: #46A07B;
    padding-top: 9px;
    padding-left: 573px;
    padding-bottom: 12px;
    padding-right: 573px;
    width: 366px;
    height: 70px;
    font-size: 60px;
}

.radium-logo { 
    background-color: #373867;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 26px;
    float: left;
}

a {
    color: #46A07B;
    text-decoration: none;
}

a:active {
    color: #46A07B;
}

nav {
    background-color: #373867;
    list-style-type: none;
    text-align: center;
}

.navButton {
    display: inline-block;
    padding: 9px;
    background-color: #373867;
    border: none;
    border-right: 1px solid #000;
    font-size: 20px;   
}

.Menu {
    float: right;
}

aside {
    position: fixed;
    background-color: rgba(55, 56, 103, 0.1);
    width: 253px;
    height: 952px;
    padding-bottom: 0px;
    padding-right: 0px;
    text-align: center;
}

.search {
    width: 236px;
    height: 30.49px;
    margin-top: 112px;
    margin-left: 21px;
}

.buttonAside {
    position: relative;
    width: 142px;
    height: 43px;
    background-color: rgba(55, 56, 103, 0.1);
    border: none;
    border-bottom: 1px solid #000;
}

.buttonAside a {
    margin: 10px;
    font-size: 16px;
}

.asideLogo {
    float: left;
    padding-top: 228.74px;
    padding-left: 95px;
}

aside p {
    position: absolute;
    padding-top: 329.74px;
}

main {
    position: relative;
    width: 1259px;
    top: 135px;
    left: 253px;
}

.welcomeSection {
    position: relative;
    height: 709px;
    top: 0;
    background: linear-gradient(
      180deg,
      rgba(222, 239, 241, 0.86) 0%,
      rgba(229, 242, 244, 0.86) 35%,
      rgba(203, 228, 216, 0.1118) 58%,
      rgba(255, 255, 255, 0) 83%
    );
    border-bottom: 1px solid #000;
}

.welcomeText {
    padding-top: 58px;
    padding-left: 474px;
    font-size: 49px;
    text-transform: uppercase;
    color: #373867;
}

.welcomeImg {
    position: absolute;
    float: right;
    width: 500px;
    height: 272.52px;
    padding-top: 50px;
    padding-left: 724.86px;
}

.welcomeInfo {
    position: absolute;
    left: 100px;
    top: 176px;
    width: 546px;
    font-style: normal;
    font-weight: 400;
    font-size: 28.8453px;
    line-height: 41px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #373867;
}

.sectionDivider {
    position: absolute;
    width: 1000px;
    height: 2px;
    left: 400px;
    top: 712px;
    background-color: rgba(55, 56, 103, 0.1);
}

.applicationSection {
    padding-top: 0px;
    height: 903px;
    border-bottom: 1px solid #000;
}

.applicationSection img {
    width: 222px;
    height: 222px;
    padding: 12px 12px;
    background-color: rgba(170, 206, 155, 0.3);
    border-radius: 20px;
}

.applicationTitle {
    position: absolute;
    width: 386px;
    height: 47px;
    left: 177px;
    top: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #373867;
}

.hourLog {
    position: absolute;
    width: 153px;
    height: 28px;
    left: 294px;
    top: 896px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #373867;
}

.hourLogImage {
    position: absolute;
    left: 254px;
    top: 950px;    
}

.reports {
    position: absolute;
    width: 109px;
    height: 29px;
    left: 840px;
    top: 896px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #373867;
}

.reportsImage {
    position: absolute;
    left: 784px;
    top: 950px;
}

.resourceManagment {
    position: absolute;
    width: 316px;
    height: 26px;
    left: 270px;
    top: 1250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #373867;
}

.resourceManagmentImage {
    position: absolute;
    left: 256px;
    top: 1300px;
}

.multipleRoles {
    position: absolute;
    width: 199px;
    height: 26px;
    left: 795px;
    top: 1250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #373867;
}

.multipleRolesImage {
    position: absolute;
    left: 790px;
    top: 1300px;
}

.whyShouldYouUseTrackgenix {
    position: relative;
    height: 975px;
    border-bottom: 1px solid #000;
}

.whyShouldYouUseTrackgenix h3 {
    position: absolute;
    width: 596px;
    height: 41px;
    left: 296px;
    top: 131px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #373867;
}

.productivityBooster h4 {
    position: absolute;
    width: 291px;
    height: 28px;
    left: 235px;
    top: 292px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #373867
}

.productivityBooster img {
    position: absolute;
    width: 118px;
    height: 118px;
    left: 86px;
    top: 348px;
}

.productivityBooster p {
    position: absolute;
    width: 270px;
    height: 92px;
    left: 256px;
    top: 361px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #373867
}

.workTraceability  h4 {
position: absolute;
width: 242px;
height: 29px;
left: 855px;
top: 294px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
text-align: center;
color: #373867;
}

.workTraceability img {
    position: absolute;
    width: 95px;
    height: 95px;
    left: 727px;
    top: 356px;
}

.workTraceability p {
    position: absolute;
    width: 275px;
    height: 48px;
    left: 877px;
    top: 379px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #373867
}

.leadershipAndTeamManagement h4 {
    position: absolute;
    width: 260px;
    height: 65px;
    left: 235px;
    top: 569px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #373867
}

.leadershipAndTeamManagement img {
    position: absolute;
    width: 99px;
    height: 99px;
    left: 96px;
    top: 632px;
}

.leadershipAndTeamManagement p {
    position: absolute;
    width: 350px;
    height: 168px;
    left: 256px;
    top: 657px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #373867;
}

.decisionMaking h4 {
    position: absolute;
    width: 230px;
    height: 26px;
    left: 859px;
    top: 588px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #373867;
}

.decisionMaking img {
    position: absolute;
    width: 122px;
    height: 122px;
    left: 708px;
    top: 634px;
}

.decisionMaking p {
    position: absolute;
    width: 220px;
    height: 51px;
    left: 877px;
    top: 670px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #373867;
}