 header {
    position: fixed;
 }

 header h1{
    background-color: #373867;
    color: #46A07B;
    padding-top: 9px;
    padding-left: 573px;
    padding-bottom: 12px;
    padding-right: 573px;
    width: 366px;
    height: 70px;
    font-size: 60px;
    }
.radium-logo { 
    background-color: #373867;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 26px;
    float: left;
}
a {
    color: #46A07B;
    text-decoration: none;
}

a:active {
    color: #46A07B;
}

nav {
    background-color: #373867;
    list-style-type: none;
    text-align: center;
}

.navButton {
    display: inline-block;
    padding: 9px;
    background-color: #373867;
    border: none;
    border-right: 1px solid #000;
    font-size: 20px;
    
}

.Menu {
    float: right;
}

aside {
    position: fixed;
    background-color: rgba(55, 56, 103, 0.1);
    width: 253px;
    height: 952px;
    padding-bottom: 0px;
    padding-right: 0px;
    text-align: center;
}

.search {
    width: 236px;
    height: 30.49px;
    margin-top: 112px;
    margin-left: 21px;
}

.buttonAside {
    position: relative;
    width: 142px;
    height: 43px;
    background-color: rgba(55, 56, 103, 0.1);
    border: none;
    border-bottom: 1px solid #000;
}

.buttonAside a {
    margin: 10px;
    font-size: 16px;
}

.asideLogo {
    float: left;
    margin-bottom: 268px;
    padding-left: 95px;
}

aside p {
    position: absolute;
    margin-bottom: 226px;
    
    
}

main {
    padding-left: 253px;
    padding-top: 110px;

}

.welcomeText {
    padding-top: 58px;
    padding-left: 474px;
    font-size: 49px;
    text-transform: uppercase;
    color: #373867;
}

.welcomeImg {
    float: right;
    width: 500px;
    height: 272.86px;
}

.welcomeInfo {
    position: relative;
    width: 546px;
    height: 457.4px;
    font-size: 28.85px;
    font-weight: 400;
}

